/node_modules
/public/hot
/public/storage
/public/blog
public/blog/*
/storage/*.key
/storage/httpcache/*
/vendor
/.idea
/.vagrant
Homestead.json
sftp-config.json
Homestead.yaml
.env
/.vscode
error_log

./public/img/35x35
/public/img/35x35
/public/img/149x149
./public/img/149x149
/nbproject/private/
