/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/httpcache
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
 error_log

./public/img/35x35
./public/img/149x149
/nbproject/private/