/node_modules
/public/hot
/public/.htaccess
/public/storage
/public/blog
public/blog/*
/storage/*.key
/storage/httpcache/*
/storage/framework/*
/storage/*
/vendor
/.idea
/.vagrant
Homestead.json
sftp-config.json
Homestead.yaml
.env
/.vscode
error_log
.well-known/
./public/img/35x35
/public/img/35x35
/public/img/149x149
./public/img/149x149
/nbproject/private/
