/* theme modification start*/
.page-header .navbar .navbar-nav .dropdown-menu>li>a{
    padding: 10px 30px 10px 25px;
    font-size: 13px;
}
.page-header .navbar .navbar-nav>li>a{
    font-size: 16px;
    padding: 15px 15px;
}
.page-header .navbar-fixed-top{
    padding: 2px 25px;
}
.page-header .navbar-collapse{
    margin-top: 50px;
}
/* theme modification end*/












#editing{
    display: inline-block;
    width: 100%;
}
.se-widget{
}
.se-widget .accordion{

}
div.center{
    text-align: center;
    width: 100%;
}
div.center select{
    display: inline-block;
    max-width: 200px !important;
}
.loading{
    position: absolute;
    top: -14px;
    right: -55px;
    height: 60px;

}
.clearx{
    width: 100%;
    height: 10px;
    display: inline-block;
}
.se-table tr:nth-child(even){
    /*background:rgba(38, 161, 171, .1) !important;*/
}
.knowledge_basket img{

    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}
.knowledge_basket  {

    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.knowledge_basket_sidebar{
    height: 600px;
    overflow: auto;
}
.knowledge_basket_sidebar img{
    height: 50px;
    width: 100px;
    overflow: auto;
}
.knowledge_basket_tab{
    margin-left: 10px;
}
.bolck_news_scroll{
    height: 200px;
    overflow: auto;
}



.vticker{
	
}
.vticker ul{
	padding: 0;
}
.vticker li{
	list-style: none;
	padding: 10px;
}
.et-run{
	background: red;
}

/*search*/
.search-result{
    visibility: hidden;
    position: absolute;
    min-width: 500px;
    top:45px;
    border:1px solid #eee;
    z-index: 999;
}
.se-search{
    position: relative;
    display: inline-block;
}
.se-search .portlet.box.yellow{
    border:0;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 10px;
    margin-top: 5px;
    position: relative;
}
.company-search i{
    margin-left: 10px;
    float: right;
}