.tv-side-nav{
	width:45px;
	float: left;
}
.tv-side-nav *{
	box-sizing: border-box;
}
.chart-container{
	width: calc(100% - 60px) !important;
	margin-right: 0;
	padding-right: 0; 
}
.tv-side-nav ul{
	margin-top: 5px;
	padding: 0;
	display: inline-block;
	width: 100%;
	list-style-type: none;
}
.tv-side-nav ul li {
	width: 100%;
	display: inline-block;
	padding: 0;
	float: left;
	border-bottom:1px solid #dadde0;
	border-left:1px solid #dadde0;
	border-right:1px solid #dadde0;
}
.tv-side-nav ul li:first-child{ 
	border-top:1px solid #dadde0;
}
.tv-side-nav ul li a{
	width: 100%;
	padding: 9px;
	background: #f7f8fa;
	display: inline-block;
	color:#666;
}
.tv-side-nav ul li a.active{
	background: #fff !important;
	color: #337ab7;
}
.tv-side-nav ul li .fa{
	font-size: 20px;
}
.tree{
	max-height: 650px !important;
	overflow: auto;

}
.tree .accordion{
	display: none;
    box-shadow: none;
    margin-right: 5px;
    background: #dadde0;
    padding-top: 0;
    margin-top: 5px;	
    padding:1px;
}
.tree .accordion.active{
	display: block;
}
.tree .accordion .panel{
	box-shadow: none;
	border-radius: 0;
}
.tree .panel-group .panel+.panel{
	margin-top:1px !important;
}
.tree .accordion .panel-title{
	font-weight: bold;
	font-size: 13px;
}
.tree .accordion .panel-body{
	padding: 0;
    overflow: auto !important;
    max-height: 350px !important;
}
.tree .accordion .panel-heading{
	background: #f1f3f6;
	border-top-right-radius:0;
	border-top-left-radius:0;
}
.tree table *{
	font-size: 12px !important;
}
.tree table {
	margin-bottom: 0px;
}
.tree table td{
	padding: 5px 8px !important;
	padding-right: 0 !important;
}
.tree table tr{
	cursor: pointer;
}
.tree .panel-body p{
	padding: 10px;
}

/* width */
#TVsidebar ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
#TVsidebar ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
#TVsidebar ::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
#TVsidebar ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.watchlist-select{
	border: 1px solid #ddd;
	border-top: 0 !important;
	border-right:  0 !important;
}

@media(max-width: 992px)  {
	.tv-side-nav{
		display: none;
	}
	#TVsidebar{
		display: none;
	}
	.chart-container{
		width: 100% !important;
	}
}
#advance-ta-chart-portlet:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.watchlist-options{
	position: absolute !important;
	right:30px !important;
	top:8px !important;
}
.watchlist-options .dropdown-menu{
	left:auto !important;
	right: 0 !important;	
	z-index: 999;
}